<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a style="margin-top: -5px" class="navbar-brand" href="#">
            <img src="https://i.ibb.co/6mjvSTP/shakeee-1.png" alt="Logo" style="width:60px;" />
        </a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a th:href="@{'/user/charity'}">Charity</a></li>
            <li><a th:href="@{'/user/about'}">About Us</a></li>
            <li><a th:href="@{'/login'}">Login</a></li>
            <!--<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>-->
            <li><a th:href="@{'/org/register'}">Sign Up</a></li>
            <li th:if="${lastAction}" class="alert alert-success alert-dismissible" >
                <strong>Action:</strong> <span th:text="${lastAction}"></span>
            </li>
        </ul>
    </div>
</nav>

<div class="image">
    <img src="https://i.ibb.co/JFb0hSG/bonding-daylight-friends-1645634-1.jpg" alt="Equality" style="width:100%;" />
    <div class="centered">“Affliction is a good man's shining time.”</div>
</div>

<h1  style=" font-family: 'Montserrat'; text-align: center; margin-top: 50px">“And I awakened to the cry.”</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue eget arcu dictum varius duis at consectetur lorem. Non quam lacus suspendisse faucibus interdum. Sodales neque sodales ut etiam sit. Odio pellentesque diam volutpat commodo sed. Fringilla ut morbi tincidunt augue interdum. Porta lorem mollis aliquam ut porttitor leo a. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Mauris sit amet massa vitae tortor condimentum lacinia. Eget est lorem ipsum dolor sit amet. Facilisi cras fermentum odio eu feugiat pretium. Tristique nulla aliquet enim tortor at auctor urna nunc. Ut tortor pretium viverra suspendisse potenti nullam ac tortor.</p>
            <p>Tellus rutrum tellus pellentesque eu tincidunt. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Dignissim enim sit amet venenatis. Non sodales neque sodales ut etiam. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Duis at consectetur lorem donec massa. Dignissim sodales ut eu sem integer. Diam quam nulla porttitor massa id neque. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor. Eget sit amet tellus cras. Urna duis convallis convallis tellus id. Risus feugiat in ante metus. Adipiscing at in tellus integer feugiat scelerisque.</p>
        </div>
        <div class="col-sm-6">
            <img style="width:500px" src="https://i.ibb.co/P9VpMqJ/Protesting-Sign.png?auto=compress,format&q=60&w=596&h=500" class="img-rounded" alt="Cinque Terre" />
        </div>
    </div>
</div>


<h1  style=" font-family: 'Montserrat'; text-align: center; margin-top: 50px">“I was dreamin' in my dreamin.”</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <img style="width:500px" src="https://centaur-wp.s3.eu-central-1.amazonaws.com/marketingweek/prod/content/uploads/2019/01/17150631/hands-solidarity-1240.jpg?auto=compress,format&q=60&w=596&h=500" class="img-rounded" alt="Cinque Terre" />

        </div>
        <div class="col-sm-6">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue eget arcu dictum varius duis at consectetur lorem. Non quam lacus suspendisse faucibus interdum. Sodales neque sodales ut etiam sit. Odio pellentesque diam volutpat commodo sed. Fringilla ut morbi tincidunt augue interdum. Porta lorem mollis aliquam ut porttitor leo a.
                Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Mauris sit amet massa vitae tortor condimentum lacinia. Eget est lorem ipsum dolor sit amet. Facilisi cras fermentum odio eu feugiat pretium. Tristique nulla aliquet enim tortor at auctor urna nunc. Ut tortor pretium viverra suspendisse potenti nullam ac tortor.</p>

            <p>Tellus rutrum tellus pellentesque eu tincidunt. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Dignissim enim sit amet venenatis. Non sodales neque sodales ut etiam. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Duis at consectetur lorem donec massa. Dignissim sodales ut eu sem integer. Diam quam nulla porttitor massa id neque. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor. Eget sit amet tellus cras. Urna duis convallis convallis tellus id. Risus feugiat in ante metus. Adipiscing at in tellus integer feugiat scelerisque.</p>

        </div>
    </div>
</div>

<h1  style="font-family: 'Montserrat'; text-align: center; margin-top: 50px">Do you want to help?</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form method="post" th:object="${userDto}" th:action="@{'/user/charity/volunteer'}">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
                    <label for="name">Full Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name" />
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></span>
                </div>
                <br>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error" >
                    <label for="email">Email address</label>
                    <input type="email" th:field="*{email}" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"/>
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('phone')} ? has-error" >
                    <label for="number">Phone Number</label>
                    <input type="text" th:field="*{phone}" class="form-control" id="number" placeholder="Phone Number" />
                    <span class="help-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                </div>
                <button type="submit" class="btn btn-info">Send</button>
            </form>
        </div>
        <div class="col-sm-4">
            <img style="width: 370px; margin-top:5px" src="https://cdn.brasildefato.com.br/media/bc4173ed96937a3f635904f310ef5b03.jpeg" alt="solidariedade" />
        </div>
        <div class="col-sm-4">
            Do you feel that you wanna contribute, but you don't have the funds. Don't worry, volunteer and helps us in helping you to improve yourself. Apply now and become one of the pieces that make the world go around.
        </div>
    </div>
</div>
</body>
<footer  style="background-color: #5BC0DE; margin-top: 35px"  class="page-footer font-small blue">
    <thymeleaf th:replace="footer :: footer"/>
</footer>
</html>
