<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a style="margin-top: -5px" class="navbar-brand" href="#">
            <img src="https://i.ibb.co/6mjvSTP/shakeee-1.png" alt="Logo" style="width:60px;">
        </a>
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Charity</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

<div class="image">
    <img src="https://i.ibb.co/bHKxdJD/New-Project-9.png" alt="Equality" style="width:100%;">
    <div class="centered">“I will love the light for it shows me the way, yet I will endure the darkness for it shows me the stars.”</div>
</div>

<h1  style="font-family: 'Montserrat'; text-align: center; margin-top: 50px;">Clothes Charity</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width:320px">
                <img style="width: 320px" class="card-img-top" src="https://i.ibb.co/wgZh9Cm/New-Project-10.png" alt="soup">
                <div class="card-body">
                    <br>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date</li>
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Association</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Association Link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width:320px">
                <img style="width: 320px" class="card-img-top" src="https://i.ibb.co/wgZh9Cm/New-Project-10.png" alt="soup">
                <div class="card-body">
                    <br>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date</li>
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Association</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Association Link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width:320px">
                <img style="width: 320px" class="card-img-top" src="https://i.ibb.co/wgZh9Cm/New-Project-10.png" alt="soup">
                <div class="card-body">
                    <br>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date</li>
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Association</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Association Link</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width:320px">
                <img style="width: 320px" class="card-img-top" src="https://i.ibb.co/wgZh9Cm/New-Project-10.png" alt="soup">
                <div class="card-body">
                    <br>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date</li>
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Association</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Association Link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width:320px">
                <img style="width: 320px" class="card-img-top" src="https://i.ibb.co/wgZh9Cm/New-Project-10.png" alt="soup">
                <div class="card-body">
                    <br>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date</li>
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Association</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Association Link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width:320px">
                <img style="width: 320px" class="card-img-top" src="https://i.ibb.co/wgZh9Cm/New-Project-10.png" alt="soup">
                <div class="card-body">
                    <br>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date</li>
                    <li class="list-group-item">Location</li>
                    <li class="list-group-item">Association</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Association Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer  style="background-color: #5BC0DE; margin-top: 35px"  class="page-footer font-small blue">
    <thymeleaf th:replace="footer :: footer"/>
</footer>
</html>